{% extends 'base.html.twig' %}

{% block title %}{{page_title}} - Piles et Batteries{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;display: flex;justify-content: space-between;">
        <div style="width: 70%; margin-right: 100px;">
            <section style="text-align:center; display">
                <h2 style="color:blue;"><u>DEVIS GRATUIT ET RAPIDE</u></h2>
            </section>
            <div class="text-center">
                <p style="color:blue;">Dans un souci de budget pour nos clients, actuels et futurs, le tarif de nos batteries, de la main d'oeuvre et du déplacement sont très attractifs.</p>
                <p>N'hésitez pas à nous contacter pour toute demande de devis de remplacement de vos batteries pour votre système d'alarme intrusion, mais aussi de votre interphone, etc...</p>
            </div>
            <div class="container text-center">
                <h3 style="color:red;">ATTENTION</h3>
                <p>  Par expérience technique, ne tardez pas à faire intervenir un spécialiste dès lors ou vous avez des messages ou des notifications provenant de votre installation.
    Sachez que le fait d'attendre trop longtemps peut engendrer des problèmes techniques, obligeant parfois une reprogrammation complète du système ou un blocage de votre centrale.
       Dans ce dernier cas, si la centrale ne redémarre pas après une remise à zéro totale, un remplacement de celle-ci s'imposera.</p>
                <p>   Ces petits conseils ont pour but de minimiser le coût d'une révision et remise en état de votre alarme intrusion, permettant de garder une grande fiabilité pour votre protection.</p>
            </div>
            <div class="container text-center">
                <h3 style="color:blue;">" Confiance, Qualité de Services, Relation Client, Tarifs et Réactivité sont nos maîtres mots "</h3>
                <p> Lors de notre intervention, nous effectuons un contrôle complet de votre système ainsi que d'éventuelles petites modifications et améliorations à apporter, en concertation avec le client.  
    Ce service a pour but d'optimiser votre installation afin d'améliorer votre sécurité. </p>
                <p> Bien sur, le coût de ce service n'augmente pas le montant défini dans le devis, qui est en moyenne d'une heure de prestation et du déplacement.
    Le déplacement est basé sur un principe de zone afin de respecter une certaine équité envers tous nos clients.</p>
                <p>Nous restons, également, à votre disposition pour toutes demandes d'informations ou de conseils. </p>
            </div>        
        </div>
        <div class="photo_batterie"style="width: 30%;">
            <img class="img-fluid rounded" src="/images/bat1.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat2.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat3.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat4.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat5.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat6.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat7.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat8.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat9.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat10.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat11.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat12.jpg" alt="">
            <img class="img-fluid rounded" src="/images/bat13.jpg" alt="">
        </div>
    </div>
    

    
{% endblock %}
