{% extends 'base.html.twig' %}

{% block title %}{{page_title}} - A propos{% endblock %}

{% block body %}
	<div class="container" style="text-align:center;border: 1px solid;margin-top: 80px;">
		<h3>REJOIGNEZ NOUS</h3>
		<h3>« FAITES NOUS CONFIANCE »</h3>
	</div>
	<section id="banner">
		<div class="content">
			<p>
				Fort de 27 ans d’expérience dans le domaine de la sécurité, « Philip’Alarme » est créée dans le but de mettre toutes ses connaissances et cette pratique au service des futurs clients.

				La création de cette société, de taille familiale, permettra une grande proximité avec la clientèle avec pour objectif d’être à l’écoute et une grande réactivité d’intervention.

				Cette entreprise locale permettra d’alléger les coûts de frais de déplacement et d’un délais d’intervention rapide avec une planification efficace.
			</p>
		</div>
		<span class="image object">
		        <img src="images/philippe_travail.jpg" class="img-fluid rounded img-thumbnail mx-auto" style="height:250px;width: 270px;" alt="" />
		</span>
	</section>

	<!-- Section -->
	<section style="text-align:center;">
		<h2 style="color:blue;">"Satisfaction et sérénité de nos clients, tel sera notre devise"</h2>
	</section>
        <p>Afin d’honorer cette devise, le choix des partenaires sera prépondérant. <br><br>
            <b>Nous apporterons toutes les solutions adaptées à vos besoins, dans un soucis de :</b></p>
        <ul>
            <li>Respect du cahier des charges ou de la demande, au cas par cas.</li>
            <li>Etude préalable de toute installation, si nécessaire.</li>
            <li>Conformité de pose et de la programmation matérielle.</li>
            <li>Explications et formation des utilisateurs.</li>
            <li>Suivi de la maintenance couvrant la période de garantie afin d’optimiser votre système.</li>
        </ul>
        <b>Nos moyens techniques permettrons une meilleur approche quand à vos besoins :</b></p>
        <ul>
            <li>Formation des techniciens sur l’évolution de toutes nouvelles technologiques.</li>
            <li>Moyens techniques adaptés, véhicule, outillage et logiciel de programmation</li>
            <li>Poste de travail conforme à la télégestion et la télémaintenance</li>
        </ul>
{% endblock %}
